body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

header, .footer {
    background-color: #1F2937;
    display: flex;
}

h1, .logo, .footer {
    color: #F9FAF8;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.signup, button {
    background-color: #3882F6;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quotxt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.text {
    color: gray;
    font-size: 18px;
}

header {
    flex-direction: column;
    padding: 24px 200px;
}

.footer {
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.firstline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.headerinfo {
    display: flex;
    justify-content: space-between;
    gap: 48px 180px;
}

.maininfo {
    display: flex;
    flex-direction: column;
}

.pictures {
    display: flex;
}