html, body {
    height: 100%;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1;
}

header, .footer {
    background-color: #1F2937;
    display: flex;
}

h1, .logo, .footer {
    color: #F9FAF8;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.signup, button {
    background-color: #3882F6;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
}

.quotxt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}

.whosaidit {
    font-weight: 700;
    align-self: center;
    margin-left: 800px;
}

.text {
    color: gray;
    font-size: 18px;
}

header {
    flex-direction: column;
    padding: 24px 200px;
}

.footer {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    flex-shrink: 0;
}

.firstline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.headerinfo {
    display: flex;
    justify-content: space-between;
    gap: 48px 180px;
}

.maininfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
    flex: 1;
}

.pictures {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 52px;
}

.pictxt {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 100px;
}

.text {
    max-width: 350px;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 100px;
    gap: 200px;
    margin: 200px;
}

.subscribe {
    font-weight: 700;
}

.justnofooter {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.button1, .button2 {
    padding: 8px 48px;
    border-radius: 8px;
}

.button2 {
    border: 2px solid white;
}

img {
    border-radius: 8px;
}